input {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-size: 20px;
    padding-bottom: 25px;
    background-color: orange;
    text-align: center;
}

body {
    background-color: #1973F3;
}